<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Texticize" switchName="TexticizeSourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="TexticizeListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Users\MH\Documents\Temp\SoftwareRockstar.Texticize.UnitTests.log"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- Valid values: Off, Error, Warning, Verbose -->
      <add name="TexticizeSourceSwitch" value="Off" />
    </switches>
  </system.diagnostics>
</configuration>

